{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Sorteo React</title>

    <!-- Tailwind CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css" rel="stylesheet" />

    <!-- ⇩  Ajusta los CSS si hay alguno -->
    <link rel="stylesheet" href="{% static 'sorteo-build/static/css/main.31d6cfe0.css' %}" />
  </head>
  <body>
    <div id="root"></div>

    <!-- ⇩  Pon aquí el nombre REAL del JS que viste en static\sorteo-build\static\js -->
    <script src="{% static 'sorteo-build/static/js/main.ac48292b.js' %}"></script>
  </body>
</html>
